*__pycache__*
Code/Model_*.pkl
Code/.ipynb_checkpoints/Fig2c_Avg_Model-checkpoint.ipynb Code/.ipynb_checkpoints/Fig2d_LMC_Model-checkpoint.ipynb Code/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Code/.ipynb_checkpoints/
Results/Model_Avg.pkl
Results/Model_LMC.pkl
Report/CAN paper - backup.docx
Report/CAN paper 220712.docx
Report/CAN technical explainer.svg
Figures/Final/*
Stepwise\ Explanation/*
Report/*
Figures/*
env/manuscript_venv/
env/nupack-4.0.1.7/
env/candas/
*.nc
